---
layout: default
---
<!--Content-->
<div class="row">

  <!--Image welcome-->
<div class="col-md-12" style="padding-bottom: 10px">
    <img style="width: inherit;" src="{{ site.baseurl }}/img/logo2.png">
</div>
<br/>
<br/>

  <!--Left content -->
  <div class="home col-md-8" >
    <!--Posts-->
    {% for post in paginator.posts %}
    <div class="post-contents-shadow">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta" style="margin-right:50px">
          <i class="fas fa-user">&nbsp;&nbsp;</i>By {{ post.author }}
      </span>
      
      <span class="post-meta"><i class="fa fa-calendar">&nbsp;&nbsp;</i>{{ post.date | date: "%b %-d, %Y" }}</span>
      <span class="post-meta" style="margin-left:50px;margin-right:50px;">
        <i class="fa fa-comment-o">&nbsp;&nbsp;</i>
        <a style="color:#828282" href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
      </span>

      {% for tag in post.tags  %}
        <span class="post-meta" ><i class="fa fa-tags">&nbsp;&nbsp;</i>{{ tag }}</span>
      {% endfor %}

      <div class="post-content truncate" itemprop="articleBody" style="max-height:300px;margin-top:20px;text-align: justify;">
	      {{ post.content }}
      </div>
      <div style="height:50px;">
	      <a href="{{ post.url }}" class="button readmore-button">Read More</a>
      </div>
    </div>
    <br />
    {% endfor %}

    <!-- Paginator-->
    <!-- pagination -->
    <nav aria-label="Page navigation example">

    {% if paginator.total_pages > 1 %}
    <ul class="pagination justify-content-center">
      {% if paginator.previous_page %}
        <li class="page-item ">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1" >&laquo; Prev</a>
        </li>

      {% else %}
        <li class="page-item disabled" >
          <span>&laquo; Prev</span>
        </li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item">
            <span>{{ page }}</span>
          </li>
        {% elsif page == 1 %}
          <li class="page-item">
            <a href="/" >{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" >{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="page-item">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">Next &raquo;</a>
        </li>
      {% else %}
        <li class="page-item">
          <span>Next &raquo;</span>
        <li>
      {% endif %}
    </ul>
    {% endif %}
    </nav>
  <!-- Left content-->
  </div>
  
  <!-- Right content-->
  <div class="col-md-4">
    
    <!-- About me-->
    <div class="post-contents-shadow">
        {% include card_about_me.html%}
    </div>
    <br />

      <!-- Tags-->
      <div class="post-contents-shadow ">
        <i class="fa fa-tags">&nbsp;&nbsp;</i>
          {% include card_tags.html%}
      </div>
      <br />
        

    <!-- Books-->
    <div class="post-contents-shadow">
      <i class="fa-solid fa-book">&nbsp;&nbsp;</i>
        {% include card_books.html %}
    </div>
    <br/>

    <!-- Recent Posts-->
    <div class="post-contents-shadow">
      <i class="fa-regular fa-newspaper">&nbsp;&nbsp;</i>
        {% include card_recent_posts.html %}
      </div>
    <br/>

    <!-- Twitter-->
    <div class="post-contents-shadow" style="margin-bottom: 20px;">
      <a class="twitter-timeline" 
          data-tweet-limit="1"
          href="https://twitter.com/paulofpimenta?ref_src=twsrc%5Etfw">Tweets by paulofpimenta</a> 
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!--<p style="font-size: 21px;font-weight: 300;line-height: 24px;color: #292F33;">Twitter</p>-->
    </div>
  <!--.col-4-->
  </div>
  <!--.col-8-->
  </div>
<!--.row-->
</div>

