    
    <div style="height: 500px">
        <div class="img-bx">
            <img src="{{ site.baseurl }}/img/me.png">
        </div>
        <div class="content">
    
            <div class="detail">
                <h2>Paulo Pimenta, Phd<br /><span>Data Scientist</span></h2>
   
                <ul class="sci justify-content-center">
                    <li>
                    <a href="https://linkedin.com/{{ include.username }}"><i class="fab fa-at"></i></a>
                    </li>
                    <li>
                    <a href="https://linkedin.com/{{ include.username }}"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                    <a href="https://linkedin.com/{{ include.username }}"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                    <a href="https://linkedin.com/{{ include.username }}"><i class="fab fa-github-alt"></i></a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>

