<span style="font-size: 21px;font-weight: 300;line-height: 24px;color: #292F33;">Books</span>

<div class="carousel"
   data-flickity='{ "lazyLoad": true }'>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="img/books/book1.png" alt="Book 1" />
  </div>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="img/books/book2.png" alt="Book 2" />
  </div>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="img/books/book3.png" alt="Book 3" />
  </div>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="img/books/book4.png" alt="Book 4" />
  </div>
</div>