<span style="font-size: 21px;font-weight: 300;line-height: 24px;color: #292F33;vertical-align: bottom;">About me</span>
<br />

<p style="text-align: center;">
    <img src="{{ site.baseurl }}/img/me.png" style="margin:20px auto 0 auto;">
</p>
<br />
<p style="font-size:18px;text-align: justify;">
    I'm a data scientist currently living in Montpellier. I made this blog to share some stuff about data science, programming and spatial modelling
    research topics.
</p><br />
{% include social-profile-buttons.html%}