<span style="font-size: 21px;font-weight: 300;line-height: 24px;color: #292F33;">Books</span>
<!-- Flickity HTML init -->

<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
  <div class="carousel-cell"> <img src="../img/books/book1.png" alt=""></div>
  <div class="carousel-cell"> <img src="../img/iswi2.jpg" alt=""></div>
  <div class="carousel-cell"> <img src="../img/iswi3.jpg" alt=""></div>
  <div class="carousel-cell"> <img src="../img/iswi4.jpg" alt=""></div>
</div>
