<footer class="site-footer" style="background-color: #212529">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" >
    </div>

    <div class="footer-col footer-col-2">
      <br />
      <ul class="social-media-list list-inline text-center">
        {% if site.github_username %}
        <li class="list-inline-item">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li class="list-inline-item">
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li class="list-inline-item">
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}
      </ul>
      
      <p class="text-white text-center small mb-0">© Copyright OuiCodeData {{ 'now' | date: "%Y" }}</p>   

    </div>


</footer>

<script src="/static/input_expand_collapse.js"></script>
<script src="/static/tag_pages.js"></script>