<header class="site-header">
    <div class="container px-0">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">OuiCodeData {{ site.baseurl }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-alt" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse navbar-alt" id="navbarNav">
          <ul class="navbar-nav">
            <li {% if page.path == "index.html" %} class="nav-item active" {% endif %} class="nav-item" >
              <a class="nav-link" href="{{ site.baseurl }}/index.html">{{ site.baseurl }} Home</a>
            </li>
            <li {% if page.path == "portfolio.html" %} class="nav-item active" {% endif %} class="nav-item" >
                <a class="nav-link" href="{{ site.url }}/portfolio">Portfolio</a>
            </li>
            <li {% if page.path == "resume.html" %} class="nav-item active" {% endif %} class="nav-item" >
                <a class="nav-link" href="{{ site.baseurl }}/resume">Resume</a>
            </li>
            <li {% if page.path == "about-me.html" %} class="nav-item active" {% endif %} class="nav-item" >
                <a class="nav-link" href="{{ site.baseurl }}/about-me">About me</a>
            </li>
            <li {% if page.path == "tag_index.html" %} class="nav-item active" {% endif %} class="nav-item" >
              <a class="nav-link" href="{{ site.baseurl }}/tag_index">Tags</a>
          </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
