
  
  .sci {
	position: relative;
	display: flex;
	margin-top: 5px;
  }
  
  .sci li {
	list-style: none;
	margin: 4px;
  }
  
  .sci li a {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: transparent;
	font-size: 1.5em;
	color: #444;
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: 0.5s;
  }
  
  .sci li a:hover {
	background: #1e7fac;
	color: #fff;
  }
  