<!DOCTYPE html>
<html>
  
  {% include head.html %}
  {% include analytics.html %}
  <body style="min-height:100%;">
    <!--Header-->
    {% include header.html %}
    
    <!--Content-->
    <div class="page-content">
      <div class="container" style="min-height: 100vh;" >  <!--Always force the content to occupy the max height of the page-->
        {{ content }}
      </div>
      <div class="clearfix">
    </div>
    <!--Footer-->
    {% include footer.html %}

    <script id="dsq-count-scr" src="//ouicodegis.disqus.com/count.js" async></script>
  </body>

</html>
